body {
	margin: 0;
	padding: 0;
	background-color: #F1F1F1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.8em;
	color: #363636;
}

#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border-top: 5px solid #000000;
	border-left: 5px solid #8c8f91;
	border-right: 5px solid #8c8f91;
	border-bottom: 25px solid #8c8f91;
	background: #FFFFFF;
	background-repeat: repeat-x;
	padding-top: 30px;
	box-shadow: 3px 3px 15px #d5d5d5;
}

#content {
	margin: 20px;
}

#footer {
	clear: both;
	text-align: center;
	color: #BDBDBD;
	font-size: 0.85em;
}

a {
	color: #013ADF;
	text-decoration: none;
}

a:hover {
	color: #013ADF;
	text-decoration: underline;
}

h1 {
	color: #243446;
	font-size: 2.25em;
}

h2 {
	color: #DF0101;
	font-size: 1.5em;
}

h3 {
	color: #243446;
}

.service_level_violation {
	background-color: #F5A9A9;
}

